body, html { width: 100%; height: 100%; display: flex; justify-content: space-between; flex-direction: column; min-width: 320px; }

a { color: #6b6b6b; }

body { position: relative; overflow: hidden; }

#home, #index2, #kuai, #child, #zhi, #app, #hux { width: 100%; height: 100%; display: flex; justify-content: space-between; flex-direction: column; }

.home_body, .index2_body, .kuai_body, .child_body, .zhi_body, .app_body, .hux_body { width: 100%; height: 100%; overflow: auto; }

header { display: flex; padding: 10px; width: 100%; align-items: center; z-index: 999; justify-content: space-between; }
header div:nth-child(1) { width: 30%; }
header div:nth-child(1) img { width: 90px; }
header div:nth-child(2) { width: 30%; text-align: center; }
header div:nth-child(3) { width: 30%; text-align: right; }
header p { font-size: 1.8rem; }

footer { width: 100%; background: orange; color: white; font-size: 1.6rem; padding: 10px; text-align: center; }

.alist { width: 100%; height: 95%; background: white; position: absolute; bottom: 0; z-index: 666; padding-top: 30px; transform: translateX(100%); transition: all .5s; }
.alist ul { width: 100%; padding: 0 30px; }
.alist ul li { width: 100%; display: flex; justify-content: space-between; font-size: 1.6rem; border-bottom: 1px solid #f7f7f7; padding: 10px 0; }
.alist ul li a { width: 100%; }
.alist ul:nth-child(2) { border-top: 10px solid #f7f7f7; }

#go_top { width: 40px; height: 40px; background: white; border: #AAAAAA 1px solid; border-radius: 100%; color: #AAAAAA; padding: 8px 10px 10px 10px; position: fixed; right: 1%; bottom: 10%; display: none; z-index: 999; }

.swiper-pagination-bullet-active { background: #DBC572; }

.content { width: 100%; height: 100%; overflow: auto; }
.content .swiper-container { width: 100%; }
.content .swiper-container img { width: 100%; }
.content .sy_list { width: 100%; padding: 10px; border-top: 8px solid #F7F7F7; border-bottom: 8px solid #F7F7F7; display: flex; justify-content: space-between; font-size: 1.3rem; }
.content .sy_list p { text-align: center; }
.content .sy_list p img { width: 60%; }
.content .sy_list2 { width: 100%; display: flex; flex-wrap: wrap; border-bottom: 8px solid #F7F7F7; }
.content .sy_list2 div { width: 100%; display: flex; justify-content: space-between; }
.content .sy_list2 div p { width: 33.333%; border-bottom: 1px solid #EEEEEE; }
.content .sy_list2 div p a { display: flex; align-items: center; justify-content: space-between; font-size: 1.3rem; padding: 10px; }
.content .sy_list2 div p a img { width: 30px; }
.content .sy_list2 .border { border-left: 1px solid #EEEEEE; border-right: 1px solid #EEEEEE; }
.content .sy_list3 { width: 100%; }
.content .sy_list3 .list3_head { padding: 10px; font-size: 1.8rem; text-align: center; }
.content .sy_list3 .list3_div { display: flex; justify-content: space-between; font-size: 1.8rem; color: #AAAAAA; align-items: center; padding: 0 10px; margin-bottom: 10px; }
.content .sy_list3 .tap1 { background: url(../img/gold.png) no-repeat; background-position: -63px 0px; width: 60px; height: 60px; }
.content .sy_list3 .tap2 { background: url(../img/gold.png) no-repeat; background-position: -63px -60px; width: 60px; height: 60px; }
.content .sy_list3 .tap3 { background: url(../img/gold.png) no-repeat; background-position: -63px -120px; width: 60px; height: 60px; }
.content .sy_list3 .change_img { background-position-x: 0; }
.content .sy_list3 .tap4 { background: url(../img/ic2.png); width: 60px; height: 60px; background-size: cover; }
.content .sy_list3 #l1 { display: block; }
.content .sy_img { border-bottom: 10px solid #F7F7F7; border-top: 10px solid #F7F7F7; background: white; padding: 10px; }
.content .sy_img img { width: 100%; }
.content .zxal_head { width: 100%; display: flex; justify-content: space-between; font-size: 1.6rem; padding: 10px 0; }
.content .zxal_head p { border-left: 5px solid goldenrod; padding-left: 10px; }
.content .zxal_head span { margin-right: 10px; color: #AAAAAA; }
.content .zxal_list { display: flex; padding: 10px; flex-wrap: wrap; justify-content: space-between; }
.content .zxal_list div { width: 46%; margin: 5px; position: relative; }
.content .zxal_list div img { width: 100%; }
.content .zxal_list div p { position: absolute; background: rgba(0, 0, 0, 0.4); color: white; text-align: center; bottom: 0; left: 0; width: 100%; padding: 5px; font-size: 1.3rem; }
.content .zxal_list div span { font-size: 1.3rem; }
.content .yzgs { border-bottom: 10px solid #F7F7F7; border-top: 10px solid #F7F7F7; }
.content .sy_img2 { width: 100%; }
.content .sy_img2 img { width: 100%; }
.content .sy_footer { width: 100%; background: #F7F7F7; padding: 10px; padding-top: 20px; }
.content .sy_footer .footer_list { display: flex; justify-content: space-between; margin: 10px 0; }
.content .sy_footer .footer_txt { line-height: 25px; text-align: center; }
.content .kban { width: 100%; position: relative; }
.content .kban div { color: white; text-align: center; position: absolute; top: 20%; left: 28%; }
.content .kban img { width: 100%; }
.content .ksbj { width: 100%; }
.content .ksbj .klist { display: flex; padding: 10px; justify-content: space-around; align-items: center; border-bottom: 8px solid #F7F7F7; }
.content .ksbj .klist p { text-align: center; }
.content .ksbj .klist p img { width: 50%; }
.content .ksbj .kselect { width: 100%; padding: 15px; border-bottom: 8px solid #F7F7F7; }
.content .ksbj .kselect h1 { margin: 0 auto; width: 80px; }
.content .ksbj .kselect form { width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between; }
.content .ksbj .kselect .sel2 { width: 49%; height: 45px; border-radius: 5px; color: #AAAAAA; padding: 10px; margin: 10px 0; }
.content .ksbj .kselect .sel1 { width: 100%; height: 45px; border-radius: 5px; color: #AAAAAA; padding: 10px; }
.content .ksbj .kselect div { width: 100%; position: relative; color: #AAAAAA; }
.content .ksbj .kselect div input { width: 100%; height: 45px; border: 1px solid #AAAAAA; border-radius: 5px; padding: 10px; margin: 10px 0; padding-left: 35px; }
.content .ksbj .kselect div span { position: absolute; right: 10px; top: 23px; }
.content .ksbj .kselect div i { position: absolute; left: 15px; top: 27px; }
.content .ksbj .kselect p { width: 100%; text-align: center; margin-top: 10px; }
.content .ksbj .kselect p span { color: #D5BB55; }
.content .ksbj .kselect button { width: 100%; height: 45px; border: none; background: #D5BB55; color: white; border-radius: 5px; }
.content .ksbj .ch_txt { width: 100%; padding: 15px; font-size: 1.3rem; font-weight: 200; line-height: 30px; display: flex; flex-wrap: wrap; border-bottom: 10px solid #F7F7F7; }
.content .ksbj .ch_txt p { width: 100%; }
.content .ksbj .ch_txt span { padding: 2px 6px; display: block; border: 1px solid #AAAAAA; border-radius: 50px; font-size: 1rem; color: #AAAAAA; margin: 10px; }
.content .ksbj .ch_txt img { width: 100%; height: 200px; margin-top: 10px; }
.content .ksbj .ch_txt div { width: 100%; text-align: center; color: #AAAAAA; font-size: 1rem; }
.content .ksbj .ch_txt .hm { height: 400px; }
.content .ksbj .ch_txt h3 { text-align: center; border-bottom: 2px #D5BB55 solid; margin: 0 auto; }
.content .ksbj .ch_txt hr { width: 100%; border: none; height: 1px; background: #EEEEEE; }
.content .ksbj .ch_txt h4 { margin: 0 auto; }
.content .shop { width: 100%; }
.content .shop h1 { margin: 10px auto; width: 80px; }
.content .shop .shop_list { width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between; padding: 10px 30px; }
.content .shop .shop_list p { border: 1px solid #AAAAAA; width: 20%; padding: 5px 10px; margin: 5px; border-radius: 5px; text-align: center; }
.content .app { width: 100%; display: flex; flex-direction: column; align-items: center; }
.content .app img { width: 100%; }
.content .app button { width: 70%; height: 40px; color: white; background: tomato; margin: 10px auto; border-radius: 10px; text-align: center; border: none; }
.content .homeStyle { width: 100%; }
.content .homeStyle .stban { width: 100%; }
.content .homeStyle .stban img { width: 100%; }
.content .homeStyle .test { width: 100%; text-align: center; line-height: 40px; padding: 20px; }
.content .homeStyle .test span { color: #AAAAAA; }
.content .homeStyle .test button { width: 50%; height: 40px; background: orange; color: white; border: none; border-radius: 3px; }
.content .homeStyle .test p { font-size: 1.8rem; font-weight: 600; }
.content .homeStyle .hlist { width: 100%; display: flex; justify-content: space-between; flex-wrap: wrap; padding: 10px; }
.content .homeStyle .hlist div { width: 46%; position: relative; margin: 5px; }
.content .homeStyle .hlist div p { position: absolute; left: 30%; top: 40%; color: white; font-size: 1.4rem; background: rgba(0, 0, 0, 0.7); padding: 5px 20px; }
.content .homeStyle .hlist div img { width: 100%; }
.content #lbtcont { width: 100%; overflow: hidden; position: relative; }
.content #lbtcont > img { width: 100%; opacity: 0; }
.content .list3_lbt { position: absolute; top: 0; left: 0; transform: translateX(100%); }
.content #l1 { transform: translateX(0); }

/*# sourceMappingURL=style.css.map */
